@charset "UTF-8";
head {
        font-family: Arial, Helvetica, sans-serif;
}
:root {
        font-size: 6vw;
        --font-x1: 1rem;
        --font-x2: 0.9rem;
        --font-x3: 0.8rem;
        --font-x4: 0.7rem;
        --font-x5: 0.6rem;
        --font-x6: 0.4rem;
        --font-x7: 0.3rem;
        
}
@media (min-width: 360px) {
        :root {
                font-size: 4vw;
                --font-x6: 0.5rem;
                --font-x7: 0.4rem;
        }
}
@media (min-width: 394px) {
        :root {
                font-size: 3vw;
                --font-x6: 0.5rem;
                --font-x7: 0.4rem;
        }
}
@media (min-width: 567px) {
        :root {
                font-size: 3vw;
                --font-x6: 0.55rem;
                --font-x7: 0.54rem;
        }
}
@media (min-width: 680px) {
        :root {
                font-size: 25px;
                --font-x6: 0.55rem;
                --font-x7: 0.45rem;
        }
}
@media (min-width: 980px) {
        :root {
                font-size: 26px;
                --font-x6: 0.6rem;
                --font-x7: 0.6rem;
        }
}
body {
        background-color: rgb(0, 40, 100);
}
article, header {
        box-shadow:  0px 4px 4px 0px #000000a4;
        background-color: #fafafa;
        padding: 10px;
        border-radius: 10px;
        max-width: 1000px;
        min-width: 320px;
        margin: auto;
}
nav {
        text-align: center;
}
var {
        color:rgb(63, 84, 104)
}
h1, h2 {
        text-align: center;
        padding: 8px;
        margin: 1px;
}
h1 {
        text-shadow: 0px 2px 2px 0px  #1111115d;
        font-size: var(--font-x1);
}
h2 {
        font-size: var(--font-x2);
}
h3, h4 {
        font-size: var(--font-x3);
        padding: 2px;
        margin: 1px;
}
p {
        font-size: var(--font-x4);
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
}
p, li {
        font-size:var(--font-x4) ;
}
li, ul {
        padding-top: 0px;
        padding-right: 1px;
        padding-bottom:0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 1px;
        display:inline;
        cursor: pointer;
        
}
div {
        padding: 0px;
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
}
a {
        color: #970000;
        text-decoration: none;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: gold;
        border-radius: 10px; 
        font-size: var(--font-x3);
}
hr {
        margin: 0px;
}
pre {
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
        padding: 0px;
        font-size: var(--font-x5);
}
.Small {
        font-size: var(--font-x6);
}
.Smallest {
        font-size: var(--font-x7);
}
a:hover {
        color: rgb(255, 0, 0);
}
div.LeftAlign {
    text-align: left;
}
ul.Hide > li > div {
        display: none;
}
ul.Hide > li:hover > div {
        display:inline;
}
li:hover {
        color:forestgreen;
}
li:hover > div {
        color:initial;
}
img {
        max-width: 100%;
        height: auto;
}
article.img {
        display: block;
        text-align: center;
        padding: 0px;
}
small {
        font-size: var(--font-x6);
}
.Footer {
        size: var(--font-x6);
    }

