@charset "UTF-8";
* {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}
:root {
        font-size: 4vw;
        --font-x1: 1rem;
        --font-x2: 0.9rem;
        --font-x3: 0.8rem;
        --font-x4: 0.7rem;
        --font-x5: 0.6rem;
        --font-x6: 0.4rem;
        --font-x7: 0.3rem;
}
html {
        scroll-behavior: smooth;
}
head {
        font-family: "Arial", "Helvetica", "sans-serif";
}
@media (min-width: 360px) {
        :root {
                font-size: 4vw;
                --font-x6: 0.5rem;
                --font-x7: 0.4rem;
        }
}
@media (min-width: 394px) {
        :root {
                font-size: 3vw;
                --font-x6: 0.5rem;
                --font-x7: 0.4rem;
        }
}
@media (min-width: 567px) {
        :root {
                font-size: 3vw;
                --font-x6: 0.55rem;
                --font-x7: 0.54rem;
        }
}
@media (min-width: 680px) {
        :root {
                font-size: 25px;
                --font-x6: 0.55rem;
                --font-x7: 0.45rem;
        }
}
header {
        box-shadow:15px 15px 10px #000000a8;
        background-color: #000000a8;
        position: fixed;
        width: 100%;
        color: white;
        text-align: center;
}
section {
        box-shadow:15px 15px 10px #000000a8;
        background-color: #000000a8;
}
main {
        background-image: url(../images/bgtable.jpg);
        background-size: cover;
        background-attachment: fixed;
}
article {
        box-shadow: 15px 10px 10px #000000d0;
        background-color: #fafafa;
        padding: 3%;
        border-radius: 5px;
        max-width: 850px;
        min-width: 310px;
        margin: auto;
        border:10px;
        border-color: black;
}
var {
        color:rgb(0, 141, 160)
}
h1 {
        text-shadow: 0px 2px 2px 0px  #1111115d;
        font-size: var(--font-x1);
        text-align: center;
        padding-top: 1px;
}
h2 {

        padding: 8px;
        margin: 1px;
        font-size: var(--font-x2);
}
h3 , h4 {
        font-size: var(--font-x3);
        padding: 2px;
        margin: 10px;
}
dd , p , pre , code{
        margin-top: 1vh;
        margin-bottom: 1vh;
        text-align: left;
        font-size: var(--font-x3);
}
dd {
        box-shadow: 15px 10px 10px #000000d0;
        background-color: white;
        border-radius: 5px;
        padding: 1%;
        border: black;
        border-width: 1px;
        border-style: groove;
}
dt {
        font-size:var(--font-x3) ;
}
dt, dl {
        padding: 0px;
        margin-top: 2px;
        margin-right: 0px;
        margin-bottom: 2px;
        margin-left: 1px;
        display:inline;
        cursor: pointer;
}
div {
        padding: 0px;
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}
a {
        color: #a50000;
        text-decoration: none;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 7px;
        padding-right: 7px;
        background-color: gold;
        border-radius: 10px; 
        font-size: var(--font-x4);
}
hr {
        margin: 8px;
}
pre{
        font-family: "Times New Roman", "Times", "serif";
}
.H1 {
        box-shadow:  0px 20px 15px 0px #000000d3;
        background-color: rgb(0, 0, 0);
        color: white;
        padding-top: 12px;
}
.Small , small , .Footer{
        font-size: var(--font-x6);
}
.Smallest{
        font-size: var(--font-x7);
}
a:hover {
        color: rgb(255, 72, 72);
}
div.LeftAlign {
    text-align: left;
}
dl.Hide > hr , dl.Hide > dd , dl.Hide > dt > span{
        display: none;
}
dl.Hide > dt:hover > span {
                    display:inline;
}
dt:hover ~ hr , dt:hover ~ dd {
        display: block;
}
dt:hover {
        color:forestgreen;
}
img {
        max-width: 100%;
        height: auto;
        margin: auto;
}
article.img {
        display: block;
        text-align: center;
        padding: 0px;
}
span.Footer {
        color: #fafafa;
}
#Reverse {
        display: inline-block;     
        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
        -o-transform: matrix(-1, 0, 0, 1, 0, 0);
        transform: matrix(-1, 0, 0, 1, 0, 0);
}
